name: Fix Build iOS

on: workflow_dispatch

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      
      # --- ĐÂY LÀ LỆNH SỬA LỖI ---
      - name: Create Missing iOS Files
        run: |
          # Lệnh này yêu cầu Flutter tự sinh ra thư mục ios
          flutter create --platforms=ios .
      # ---------------------------

      - run: flutter pub get
      
      - name: Build IPA (Unsigned)
        run: |
          # Build app không cần chữ ký số
          flutter build ios --release --no-codesign
          
          # Nén thủ công thành file IPA
          mkdir Payload
          mv build/ios/iphoneos/Runner.app Payload
          zip -r StockfishGomoku.ipa Payload

      - name: Upload IPA
        uses: actions/upload-artifact@v4
        with:
          name: Gomoku-Fixed-IPA
          path: StockfishGomoku.ipa
